USE [master]
GO
/****** Object:  Database [HumanResources]    Script Date: 03-Jul-20 12:20:41 AM ******/
CREATE DATABASE [HumanResources]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HumanResources', FILENAME = N'C:\Users\HP\HumanResources.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HumanResources_log', FILENAME = N'C:\Users\HP\HumanResources_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HumanResources].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HumanResources]
GO
USE [HumanResources]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 03-Jul-20 12:20:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Advertisements]    Script Date: 03-Jul-20 12:20:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Advertisements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdvertisementName] [nvarchar](50) NULL,
	[CompanyName] [nvarchar](50) NULL,
	[Catagory] [nvarchar](50) NULL,
	[Description] [nvarchar](100) NULL,
	[City] [nvarchar](50) NULL,
	[Salary] [decimal](18, 2) NOT NULL,
	[Age] [int] NOT NULL,
	[Education] [nvarchar](50) NULL,
	[Experience] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[EmployerId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Advertisements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CurriculumVitaes]    Script Date: 03-Jul-20 12:20:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CurriculumVitaes](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Surname] [nvarchar](50) NULL,
	[Gender] [nvarchar](20) NULL,
	[Age] [int] NOT NULL,
	[Education] [nvarchar](50) NULL,
	[Experience] [nvarchar](50) NULL,
	[Catagory] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[MinSalary] [decimal](18, 2) NOT NULL,
	[PhoneNumber] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.CurriculumVitaes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employers]    Script Date: 03-Jul-20 12:20:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Employers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerAdvertisement1]    Script Date: 03-Jul-20 12:20:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerAdvertisement1](
	[Worker_Id] [int] NOT NULL,
	[Advertisement_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WorkerAdvertisement1] PRIMARY KEY CLUSTERED 
(
	[Worker_Id] ASC,
	[Advertisement_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkerAdvertisements]    Script Date: 03-Jul-20 12:20:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkerAdvertisements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[WorkerId] [int] NOT NULL,
	[AdvertisementId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.WorkerAdvertisements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workers]    Script Date: 03-Jul-20 12:20:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[Password] [nvarchar](50) NULL,
 CONSTRAINT [PK_dbo.Workers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Advertisements] ON 

INSERT [dbo].[Advertisements] ([Id], [AdvertisementName], [CompanyName], [Catagory], [Description], [City], [Salary], [Age], [Education], [Experience], [PhoneNumber], [EmployerId]) VALUES (1, N'It', N'Micro', N'IT mutexessis', N'asd', N'Baki', CAST(2450.00 AS Decimal(18, 2)), 23, N'Ali', N'3 ilden - 5 ile qeder', N'(+994) 55-555-55-55', 1)
SET IDENTITY_INSERT [dbo].[Advertisements] OFF
GO
INSERT [dbo].[CurriculumVitaes] ([Id], [Name], [Surname], [Gender], [Age], [Education], [Experience], [Catagory], [City], [MinSalary], [PhoneNumber]) VALUES (1, N'vader', N'darth', N'Kisi', 23, N'Ali', N'1 ilden - 3 ile qeder', N'IT mutexessis', N'Baki', CAST(2323.00 AS Decimal(18, 2)), N'(+994) 55-555-55-55')
GO
SET IDENTITY_INSERT [dbo].[Employers] ON 

INSERT [dbo].[Employers] ([Id], [Username], [Email], [Password]) VALUES (1, N'Luke', N'luke@gmail.com', N'ads@adsA3')
SET IDENTITY_INSERT [dbo].[Employers] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkerAdvertisements] ON 

INSERT [dbo].[WorkerAdvertisements] ([Id], [WorkerId], [AdvertisementId]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [dbo].[WorkerAdvertisements] OFF
GO
SET IDENTITY_INSERT [dbo].[Workers] ON 

INSERT [dbo].[Workers] ([Id], [Username], [Email], [Password]) VALUES (1, N'vader', N'asd@gmail.com', N'ads@adsA3')
INSERT [dbo].[Workers] ([Id], [Username], [Email], [Password]) VALUES (2, N'marry', N'm@gmail.com', N'ads@adsA3')
SET IDENTITY_INSERT [dbo].[Workers] OFF
GO
/****** Object:  Index [IX_EmployerId]    Script Date: 03-Jul-20 12:20:42 AM ******/
CREATE NONCLUSTERED INDEX [IX_EmployerId] ON [dbo].[Advertisements]
(
	[EmployerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Id]    Script Date: 03-Jul-20 12:20:42 AM ******/
CREATE NONCLUSTERED INDEX [IX_Id] ON [dbo].[CurriculumVitaes]
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 03-Jul-20 12:20:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Employers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Advertisement_Id]    Script Date: 03-Jul-20 12:20:42 AM ******/
CREATE NONCLUSTERED INDEX [IX_Advertisement_Id] ON [dbo].[WorkerAdvertisement1]
(
	[Advertisement_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Worker_Id]    Script Date: 03-Jul-20 12:20:42 AM ******/
CREATE NONCLUSTERED INDEX [IX_Worker_Id] ON [dbo].[WorkerAdvertisement1]
(
	[Worker_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Username]    Script Date: 03-Jul-20 12:20:42 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Username] ON [dbo].[Workers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Advertisements]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Advertisements_dbo.Employers_EmployerId] FOREIGN KEY([EmployerId])
REFERENCES [dbo].[Employers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Advertisements] CHECK CONSTRAINT [FK_dbo.Advertisements_dbo.Employers_EmployerId]
GO
ALTER TABLE [dbo].[CurriculumVitaes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CurriculumVitaes_dbo.Workers_Id] FOREIGN KEY([Id])
REFERENCES [dbo].[Workers] ([Id])
GO
ALTER TABLE [dbo].[CurriculumVitaes] CHECK CONSTRAINT [FK_dbo.CurriculumVitaes_dbo.Workers_Id]
GO
ALTER TABLE [dbo].[WorkerAdvertisement1]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkerAdvertisement1_dbo.Advertisements_Advertisement_Id] FOREIGN KEY([Advertisement_Id])
REFERENCES [dbo].[Advertisements] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkerAdvertisement1] CHECK CONSTRAINT [FK_dbo.WorkerAdvertisement1_dbo.Advertisements_Advertisement_Id]
GO
ALTER TABLE [dbo].[WorkerAdvertisement1]  WITH CHECK ADD  CONSTRAINT [FK_dbo.WorkerAdvertisement1_dbo.Workers_Worker_Id] FOREIGN KEY([Worker_Id])
REFERENCES [dbo].[Workers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[WorkerAdvertisement1] CHECK CONSTRAINT [FK_dbo.WorkerAdvertisement1_dbo.Workers_Worker_Id]
GO
USE [master]
GO
